.post:hover {
  color:#606060;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.post {
  color:black;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  margin-bottom:0;
}

.category:hover {
  background-color:#6CB2EB;
  border:2px solid #2779BD;
  color:black;
  cursor:pointer;

}

.category {
  height:30px;
  min-width:80px;
  line-height:25px;
  font-size:15px;
  border:2px solid #2779BD;
  border-radius:3px;
  font-family:Helvetica;
  text-align:center;
  background-color:#BCDEFA;
  position:relative;
  z-index:20;
  padding-left:5px;
  padding-right:5px;
}

.selected:hover {
  cursor:pointer;
  background-color:#A779E9;
}

.selected {
  height:30px;
  min-width:80px;
  line-height:25px;
  font-size:15px;
  border:2px solid #794ACF;
  border-radius:3px;
  font-family:Helvetica;
  text-align:center;
  margin-right:7px;
  background-color:#D6BBFC;
  position:relative;
  z-index:20;
  margin-bottom:5px;
  padding-left:5px;
  padding-right:5px;
}

.clear {
  height:30px;
  max-width:150px;
  line-height:25px;
  font-size:15px;
  border:2px solid #794ACF;
  border-radius:3px;
  font-family:Helvetica;
  text-align:center;
  background-color:#D6BBFC;
  position:relative;
  z-index:20;
  padding-left:5px;
  padding-right:5px;
  margin:auto;
  margin-bottom:10px;
  display:flex;
  justify-content: center;
}

.clear:hover {
  background-color:#A779E9;
  cursor:pointer;
}

.clearHide {
  display:none;
}

.all {
  color:#3490DC;
  font-size:22px;
  text-decoration:none;
  box-shadow:none;
}

.all:visited {
  color:#3490DC;
}

.catLink:visited {
  color:black;
}

.catLink {
  color:black;
}

.all:hover {
  color:#2779BD;
}
